@using DnDFrontEnd.Data;
@model DnDFrontEnd.Models.Campaign


@{
    ViewData["Title"] = "MyCampaign";
    int campaignID = Model.CampaignId;
}

<div>
    <table class="table">
        <thead>
          <!-- <tr>
                if (Campaign.)
                {

                    <th> Html.DisplayNameFor(model => model.CampaignName) </th>
                }
            </tr>
              -->
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
